<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Manna_IT</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>EquipmentFrontController</display-name>
		<servlet-name>EquipmentFrontController</servlet-name>
		<servlet-class>manna.it.action.EquipmentFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EquipmentFrontController</servlet-name>
		<url-pattern>*.eq</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RequestFrontController</display-name>
		<servlet-name>RequestFrontController</servlet-name>
		<servlet-class>manna.it.action.RequestFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestFrontController</servlet-name>
		<url-pattern>*.rq</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberFrontController</display-name>
		<servlet-name>MemberFrontController</servlet-name>
		<servlet-class>manna.it.action.MemberFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberFrontController</servlet-name>
		<url-pattern>*.mb</url-pattern>
	</servlet-mapping>
	<!-- <servlet> <description></description> <display-name>RequestResultUpdate</display-name> 
		<servlet-name>RequestResultUpdate</servlet-name> <servlet-class>manna.it.action.RequestResultUpdate</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>RequestResultUpdate</servlet-name> 
		<url-pattern>/RequestResultUpdate</url-pattern> </servlet-mapping> <servlet> 
		<description></description> <display-name>reqList</display-name> <servlet-name>reqList</servlet-name> 
		<servlet-class>manna.it.ajax.reqList</servlet-class> </servlet> <servlet-mapping> 
		<servlet-name>reqList</servlet-name> <url-pattern>/reqList</url-pattern> 
		</servlet-mapping> <servlet> <description></description> <display-name>ReqListServlet</display-name> 
		<servlet-name>ReqListServlet</servlet-name> <servlet-class>manna.it.servlet.ReqListServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>ReqListServlet</servlet-name> 
		<url-pattern>/ReqListServlet</url-pattern> </servlet-mapping> -->
</web-app>